/* src/index.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Custom styles */
/* button {
  margin: 10px 0;
} */



/* src/index.css */
/*   @import 'tailwindcss/tailwind.css';

body {
  font-family: 'Arial', sans-serif;
}

.bg-navy {
  background: url('Cloudy.png'), url('IsoRainSwrsDay.png'), #0A0A5A;
  background-size: cover, cover;
  background-blend-mode: overlay;
  opacity: 0.95;
}  */



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
}

.bg-navy {
  background: url('Cloudy.png'), url('IsoRainSwrsDay.png'), #0A0A5A;
  background-size: cover, cover;
  background-blend-mode: overlay;
  opacity: 0.95;
}

.bg-customDark {
  background: #100E1D;
}

.bg-customSecondaryDark {
  background: #1E213A;
}

.bg-customButton {
  background: #6E707A;
}

.text-customtext {
  color: #E7E7EB;
} 
 

.bg-customSecondaryDark {
  background-color: #1e293b; 
}

.bg-customButton {
  background-color: #6E707A; 
}

.text-customtext {
  color: #ffffff; 
}

.bg-cloudy {
  background: url('/assets/images/Cloudy.png');
  background-size: cover;
}

.bg-isorainswrsday {
  background: url('/assets/images/IsoRainSwrsDay.png');
  background-size: cover;
  opacity: 0.05;
}
 
 


.outside-modal-box {
  width: 981px;
  height: 1023px;
  position: absolute;
  top: 0;
  left: 459px;
  background-color: #100E1D;
  display: flex;
  flex-direction: column;
  gap: 0;
}





 
 


 
